main {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
}
main button {
    --size: 60px;
    border: none;
    min-width: var(--size);
    min-height: var(--size);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background: rgba(0, 0, 0, 0.451);
    color: #fff;
    transition: background 200ms ease, color 200ms ease;
}
/* main:hover button {
    background: rgba(255, 255, 255, 0.04);
    color: rgba(255, 255, 255, 0.04);
} */
ion-icon:hover{
    transform: translate(0, -5px);
}
main:hover button:hover {
    color: #fff;
}


