@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Reddit+Mono:wght@200..900&display=swap');
*{
    transition: all 0.5s ease-in-out;
    font-family: "Reddit Mono", monospace;
    box-sizing: border-box;
    color: white;
}
html{
    overflow-y: scroll;
}
body{
    background:url('https://cdna.artstation.com/p/assets/images/images/041/023/658/original/jesse-eisenbart-the-necromancer-updated.gif?1630532045')no-repeat center center fixed; 
              -webkit-background-size: cover;
              -moz-background-size: cover;
              -o-background-size: cover;
              background-size: cover;
    /* background-color: #313030; */
    color:white !important;
    padding: 0;
    margin: 0;
}
::-webkit-scrollbar {
    width: 8px;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-track {
    background-color: black;
  }
  ::-webkit-scrollbar-thumb {
    background: gainsboro;
    border-radius: 10px;
  }
/* Navbar Kısımnın Başlangıcı */

.navbar{
  z-index: 1198165498416516;
  height: 60px;
  width: 850px;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  border-left: 2px solid black;
  border-radius: 15px;
  background-color: #1f1e1ee0;
  margin: 5px auto;
  box-shadow: 2px 2px 0px 0px rgba(255, 255, 255, 0.351);
}
.navbar p{
    display: inline-block;
    margin-left:5px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor:pointer;
}

.navbar p:hover::after{
    content: '.com';
    color:red
}

.navbar ul{
    float: right;
    list-style: none;
    margin-right: 15px;
}
.navbar ul li {
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
    font-size: 14px;
}
.navbar a{
  text-decoration: none;
  color:white;
}
.navbar ul li:hover{
    border-bottom: 2px solid red;
}

ul {
    list-style: none;
  }

/* Navbar Kısımnın Bitişi   */

  .container{
    z-index: 41151651516514;
    border-right: 3px solid black !important;
    border-bottom: 3px solid black !important;
    border: 2px solid black;
    box-shadow: 2px 2px 0px 0px rgba(255, 255, 255, 0.351);
    width: 850px;
    height: auto;
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 35px;
    position: absolute;
    padding: 10px 5px 10px 5px;
    left: 50%;
    top: 130px;
    transform: translate(-50%);
    background-color: #1f1e1ee0;
  }
#photo{
    border: 2px solid white;
    display: inline-block;
    height: 164px;
    width: 164px;
  }
  .container p{
    display: inline-block;
    width: auto;
    position: absolute;
    margin-left: 15px;
  }
  #cerceve{
    display: flex;
    position: absolute;
    left: -13px;
    top: -10px;
    height: 205px;
  }
  .content{
    margin-top: 10px;
    margin-left: 15px;
    height: auto;
  }
  .title{
    margin-bottom: 10px;
  }
  .content span{
    color: #bd081c;
  }
.content .date,
.content .name,
.content .company{
  margin-top: 15px;
  display: inline-block;
  width: auto;
  padding-bottom: 10px;
  border-bottom: 2px solid #515151;
}

.content .date{
  color:#bd081c
}
.content-table .date{
  color:#bd081c;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left:5px;
}
#basangicyazisi{
  margin-bottom:5px;
}
.container-header{
  padding-bottom: 15px;
  border-bottom:3px solid #fff;
}

.content{
  padding-bottom: 20px;
  border-bottom:3px solid #fff;
}
#baslangicyazisi:nth-child(3){
  color:#bd081c
}
.bilgilendirme{
  display: block;
  margin-bottom: 15px;
  margin-top: 15px;
}
.resim:nth-child(3){
  height: 400px;
  display: block;
  border: 1px solid #bd081c;
}
.resim:nth-child(5){
  height: 430px;
  display: block;
  border: 1px solid #4f3131;
}
table, th, td {

  border: 1px solid rgb(255, 255, 255);

  border-collapse: collapse;

}

th, td {

  padding: 5px;

}
.posta:hover::after{
  content: 'pm.me';
  color: #0b0;
}
.iletisim-ilk{
  display: inline-block;
    width: 400px;
}
.iletisim-iki{
  display: inline-block;
  width: 400px;
}
.iletisim-ilk div{
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  margin-top: 15px;
  padding-left: 8px;
  padding-bottom: 5px;
}
.iletisim-iki div{
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  margin-top: 15px;
  padding-left: 8px;
  padding-bottom: 5px;
}